:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    font-size: max(1.1vmax, 16px);
    --text: #f7f3f5;
    /* --background: #160e11; */
    --background: #232a37;
    --primary: #3476de;
    --secondary: #420b23;
    /* --accent: #f199bf; */
    --accent: #c80f5c;

  
    color-scheme: light dark;
  
    color: var(--text);
    background-color: var(--background);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      --text: #160e11;
      --background: #f7f3f5;
      --primary: #8fb3ff;
      --secondary: #9cacc1;
      --accent: #d41d6c;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

  html{
    scroll-behavior: smooth;
    scroll-padding-top: 3.4rem;
  }
  
  body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  
  h1{
    font-size: 2.5rem;
  }
  
  
  
  ::-webkit-scrollbar{
    width: 0.25rem;
    background-color: #343434;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 0.125rem;
    transition: all 150ms;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }